{
  "name": "BetterHolidays",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "Jade/home.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"home.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "Jade/destinations.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"destinations.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "Sass/styles.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"styles.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "Jade/contact.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"contact.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "Jade/SpecialOffers.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"SpecialOffers.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "Jade/Accomodation.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"Accomodation.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "Jade/accomodation.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"accomodation.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "Jade/accommodation.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"accommodation.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "Sass",
      "Sass/bourbon/addons",
      "Jade"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "Sass/styles.sass",
      "imports": [
        "Sass/bourbon/_bourbon.scss",
        "Sass/bourbon/settings/_deprecation-warnings.scss",
        "Sass/bourbon/settings/_prefixer.scss",
        "Sass/bourbon/settings/_px-to-em.scss",
        "Sass/bourbon/settings/_asset-pipeline.scss",
        "Sass/bourbon/_bourbon-deprecate.scss",
        "Sass/bourbon/functions/_assign-inputs.scss",
        "Sass/bourbon/functions/_contains.scss",
        "Sass/bourbon/functions/_contains-falsy.scss",
        "Sass/bourbon/functions/_is-length.scss",
        "Sass/bourbon/functions/_is-light.scss",
        "Sass/bourbon/functions/_is-number.scss",
        "Sass/bourbon/functions/_is-size.scss",
        "Sass/bourbon/functions/_px-to-em.scss",
        "Sass/bourbon/functions/_px-to-rem.scss",
        "Sass/bourbon/functions/_shade.scss",
        "Sass/bourbon/functions/_strip-units.scss",
        "Sass/bourbon/functions/_tint.scss",
        "Sass/bourbon/functions/_transition-property-name.scss",
        "Sass/bourbon/functions/_unpack.scss",
        "Sass/bourbon/functions/_modular-scale.scss",
        "Sass/bourbon/helpers/_convert-units.scss",
        "Sass/bourbon/helpers/_directional-values.scss",
        "Sass/bourbon/helpers/_font-source-declaration.scss",
        "Sass/bourbon/helpers/_gradient-positions-parser.scss",
        "Sass/bourbon/helpers/_linear-angle-parser.scss",
        "Sass/bourbon/helpers/_linear-gradient-parser.scss",
        "Sass/bourbon/helpers/_linear-positions-parser.scss",
        "Sass/bourbon/helpers/_linear-side-corner-parser.scss",
        "Sass/bourbon/helpers/_radial-arg-parser.scss",
        "Sass/bourbon/helpers/_radial-positions-parser.scss",
        "Sass/bourbon/helpers/_radial-gradient-parser.scss",
        "Sass/bourbon/helpers/_render-gradients.scss",
        "Sass/bourbon/helpers/_shape-size-stripper.scss",
        "Sass/bourbon/helpers/_str-to-num.scss",
        "Sass/bourbon/css3/_animation.scss",
        "Sass/bourbon/css3/_appearance.scss",
        "Sass/bourbon/css3/_backface-visibility.scss",
        "Sass/bourbon/css3/_background.scss",
        "Sass/bourbon/css3/_background-image.scss",
        "Sass/bourbon/css3/_border-image.scss",
        "Sass/bourbon/css3/_calc.scss",
        "Sass/bourbon/css3/_columns.scss",
        "Sass/bourbon/css3/_filter.scss",
        "Sass/bourbon/css3/_flex-box.scss",
        "Sass/bourbon/css3/_font-face.scss",
        "Sass/bourbon/css3/_font-feature-settings.scss",
        "Sass/bourbon/css3/_hidpi-media-query.scss",
        "Sass/bourbon/css3/_hyphens.scss",
        "Sass/bourbon/css3/_image-rendering.scss",
        "Sass/bourbon/css3/_keyframes.scss",
        "Sass/bourbon/css3/_linear-gradient.scss",
        "Sass/bourbon/css3/_perspective.scss",
        "Sass/bourbon/css3/_placeholder.scss",
        "Sass/bourbon/css3/_radial-gradient.scss",
        "Sass/bourbon/css3/_selection.scss",
        "Sass/bourbon/css3/_text-decoration.scss",
        "Sass/bourbon/css3/_transform.scss",
        "Sass/bourbon/css3/_transition.scss",
        "Sass/bourbon/css3/_user-select.scss",
        "Sass/bourbon/addons/_border-color.scss",
        "Sass/bourbon/addons/_border-radius.scss",
        "Sass/bourbon/addons/_border-style.scss",
        "Sass/bourbon/addons/_border-width.scss",
        "Sass/bourbon/addons/_buttons.scss",
        "Sass/bourbon/addons/_clearfix.scss",
        "Sass/bourbon/addons/_ellipsis.scss",
        "Sass/bourbon/addons/_font-stacks.scss",
        "Sass/bourbon/addons/_hide-text.scss",
        "Sass/bourbon/addons/_margin.scss",
        "Sass/bourbon/addons/_padding.scss",
        "Sass/bourbon/addons/_position.scss",
        "Sass/bourbon/addons/_prefixer.scss",
        "Sass/bourbon/addons/_retina-image.scss",
        "Sass/bourbon/addons/_size.scss",
        "Sass/bourbon/addons/_text-inputs.scss",
        "Sass/bourbon/addons/_timing-functions.scss",
        "Sass/bourbon/addons/_triangle.scss",
        "Sass/bourbon/addons/_word-wrap.scss",
        "Sass/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "Sass/bourbon/_bourbon.scss",
      "imports": [
        "Sass/bourbon/settings/_deprecation-warnings.scss",
        "Sass/bourbon/settings/_prefixer.scss",
        "Sass/bourbon/settings/_px-to-em.scss",
        "Sass/bourbon/settings/_asset-pipeline.scss",
        "Sass/bourbon/_bourbon-deprecate.scss",
        "Sass/bourbon/functions/_assign-inputs.scss",
        "Sass/bourbon/functions/_contains.scss",
        "Sass/bourbon/functions/_contains-falsy.scss",
        "Sass/bourbon/functions/_is-length.scss",
        "Sass/bourbon/functions/_is-light.scss",
        "Sass/bourbon/functions/_is-number.scss",
        "Sass/bourbon/functions/_is-size.scss",
        "Sass/bourbon/functions/_px-to-em.scss",
        "Sass/bourbon/functions/_px-to-rem.scss",
        "Sass/bourbon/functions/_shade.scss",
        "Sass/bourbon/functions/_strip-units.scss",
        "Sass/bourbon/functions/_tint.scss",
        "Sass/bourbon/functions/_transition-property-name.scss",
        "Sass/bourbon/functions/_unpack.scss",
        "Sass/bourbon/functions/_modular-scale.scss",
        "Sass/bourbon/helpers/_convert-units.scss",
        "Sass/bourbon/helpers/_directional-values.scss",
        "Sass/bourbon/helpers/_font-source-declaration.scss",
        "Sass/bourbon/helpers/_gradient-positions-parser.scss",
        "Sass/bourbon/helpers/_linear-angle-parser.scss",
        "Sass/bourbon/helpers/_linear-gradient-parser.scss",
        "Sass/bourbon/helpers/_linear-positions-parser.scss",
        "Sass/bourbon/helpers/_linear-side-corner-parser.scss",
        "Sass/bourbon/helpers/_radial-arg-parser.scss",
        "Sass/bourbon/helpers/_radial-positions-parser.scss",
        "Sass/bourbon/helpers/_radial-gradient-parser.scss",
        "Sass/bourbon/helpers/_render-gradients.scss",
        "Sass/bourbon/helpers/_shape-size-stripper.scss",
        "Sass/bourbon/helpers/_str-to-num.scss",
        "Sass/bourbon/css3/_animation.scss",
        "Sass/bourbon/css3/_appearance.scss",
        "Sass/bourbon/css3/_backface-visibility.scss",
        "Sass/bourbon/css3/_background.scss",
        "Sass/bourbon/css3/_background-image.scss",
        "Sass/bourbon/css3/_border-image.scss",
        "Sass/bourbon/css3/_calc.scss",
        "Sass/bourbon/css3/_columns.scss",
        "Sass/bourbon/css3/_filter.scss",
        "Sass/bourbon/css3/_flex-box.scss",
        "Sass/bourbon/css3/_font-face.scss",
        "Sass/bourbon/css3/_font-feature-settings.scss",
        "Sass/bourbon/css3/_hidpi-media-query.scss",
        "Sass/bourbon/css3/_hyphens.scss",
        "Sass/bourbon/css3/_image-rendering.scss",
        "Sass/bourbon/css3/_keyframes.scss",
        "Sass/bourbon/css3/_linear-gradient.scss",
        "Sass/bourbon/css3/_perspective.scss",
        "Sass/bourbon/css3/_placeholder.scss",
        "Sass/bourbon/css3/_radial-gradient.scss",
        "Sass/bourbon/css3/_selection.scss",
        "Sass/bourbon/css3/_text-decoration.scss",
        "Sass/bourbon/css3/_transform.scss",
        "Sass/bourbon/css3/_transition.scss",
        "Sass/bourbon/css3/_user-select.scss",
        "Sass/bourbon/addons/_border-color.scss",
        "Sass/bourbon/addons/_border-radius.scss",
        "Sass/bourbon/addons/_border-style.scss",
        "Sass/bourbon/addons/_border-width.scss",
        "Sass/bourbon/addons/_buttons.scss",
        "Sass/bourbon/addons/_clearfix.scss",
        "Sass/bourbon/addons/_ellipsis.scss",
        "Sass/bourbon/addons/_font-stacks.scss",
        "Sass/bourbon/addons/_hide-text.scss",
        "Sass/bourbon/addons/_margin.scss",
        "Sass/bourbon/addons/_padding.scss",
        "Sass/bourbon/addons/_position.scss",
        "Sass/bourbon/addons/_prefixer.scss",
        "Sass/bourbon/addons/_retina-image.scss",
        "Sass/bourbon/addons/_size.scss",
        "Sass/bourbon/addons/_text-inputs.scss",
        "Sass/bourbon/addons/_timing-functions.scss",
        "Sass/bourbon/addons/_triangle.scss",
        "Sass/bourbon/addons/_word-wrap.scss",
        "Sass/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "Fonts/font-awesome-4.7.0/less/font-awesome.less",
      "imports": [
        "Fonts/font-awesome-4.7.0/less/variables.less",
        "Fonts/font-awesome-4.7.0/less/mixins.less",
        "Fonts/font-awesome-4.7.0/less/path.less",
        "Fonts/font-awesome-4.7.0/less/core.less",
        "Fonts/font-awesome-4.7.0/less/larger.less",
        "Fonts/font-awesome-4.7.0/less/fixed-width.less",
        "Fonts/font-awesome-4.7.0/less/list.less",
        "Fonts/font-awesome-4.7.0/less/bordered-pulled.less",
        "Fonts/font-awesome-4.7.0/less/animated.less",
        "Fonts/font-awesome-4.7.0/less/rotated-flipped.less",
        "Fonts/font-awesome-4.7.0/less/stacked.less",
        "Fonts/font-awesome-4.7.0/less/icons.less",
        "Fonts/font-awesome-4.7.0/less/screen-reader.less"
      ]
    },
    {
      "path": "Fonts/font-awesome-4.7.0/scss/font-awesome.scss",
      "imports": [
        "Fonts/font-awesome-4.7.0/scss/_variables.scss",
        "Fonts/font-awesome-4.7.0/scss/_mixins.scss",
        "Fonts/font-awesome-4.7.0/scss/_path.scss",
        "Fonts/font-awesome-4.7.0/scss/_core.scss",
        "Fonts/font-awesome-4.7.0/scss/_larger.scss",
        "Fonts/font-awesome-4.7.0/scss/_fixed-width.scss",
        "Fonts/font-awesome-4.7.0/scss/_list.scss",
        "Fonts/font-awesome-4.7.0/scss/_bordered-pulled.scss",
        "Fonts/font-awesome-4.7.0/scss/_animated.scss",
        "Fonts/font-awesome-4.7.0/scss/_rotated-flipped.scss",
        "Fonts/font-awesome-4.7.0/scss/_stacked.scss",
        "Fonts/font-awesome-4.7.0/scss/_icons.scss",
        "Fonts/font-awesome-4.7.0/scss/_screen-reader.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}